- Give a start date that you got paid on in the B.bills(), my first one was Dec, 27, 2019

In [1]:
import biWeeklyBills as B
import datetime as DT
month = 1
nextMonth = 2
startingPayDate = DT.datetime( 2019 , 12 , 27) # Can change this to a date you can use for pay dates
init = B.bills( startingPayDate )
df = init.getMonthly(month) # To spit out Pay Periods for current Month, This can be updated

--> Script running for:   01-01-2020
--> Paydates this month:  ['01-10-2020' '01-24-2020']

In [2]:
df = init.multipleMonths( 1 , nextMonth , 2020 )

--> Script running for:   02-01-2020
--> Paydates this month:  ['02-07-2020' '02-21-2020']

# First

In [3]:
first = df[0][0]
first
print( "--> Sum: $" , round( first.sum().values[0] , 2 ) )

                   Amount        Day
Bill
Car Registrations     0.0 2020-01-01

--> Sum: $ 0.0

# Second

In [4]:
second = df[0][1]
second
print( "--> Sum: $" , round( second.sum().values[0] , 2 ) )

                   Amount        Day
Bill
Car Payment         666.0 2020-01-13
Car Registrations     0.0 2020-01-01
Gasoline Expenses    85.0 2020-01-10
Groceries            20.0 2020-01-10
NetFlix              50.0 2020-01-10
Rent                777.0 2020-01-10
Savings 1             4.2 2020-01-10

--> Sum: $ 1602.2

# Third

In [5]:
try:
    third = df[0][3]
    third
    print( "--> Sum: $" , round( third.sum().values[0] , 2 ) )
except:
    print("Not enough paychecks for this first month ran..")

Not enough paychecks for this first month ran..

# After Second/Third + first next month

In [6]:
mid = df[2]
mid
print( "--> Sum: $" , round( mid.sum().values[0] , 2 ) )

                   Amount        Day
Bill
Hulu                45.00 2020-01-30
Cell Phone           0.02 2020-01-30
Car Registrations    0.00 2020-02-01

--> Sum: $ 45.02

# Next Month Second

In [7]:
second = df[1][1]
second
print( "--> Sum: $" , round( second.sum().values[0] , 2 ) )

                   Amount        Day
Bill
Car Payment         666.0 2020-02-13
Car Registrations     0.0 2020-02-01
Gasoline Expenses    85.0 2020-02-07
Groceries            20.0 2020-02-07
NetFlix              50.0 2020-02-07
Rent                777.0 2020-02-07
Savings 1             4.2 2020-02-07

--> Sum: $ 1602.2